/* add your CSS here */
 @import url('https://fonts.googleapis.com/css?family=Amatic+SC|Oswald:300,500');
 body{
     font-family: 'Oswald', sans-serif;
     font-weight: 300;
    /*background color*/
     background: radial-gradient(black 15%, transparent 26%) 0 0, radial-gradient(black 15%, transparent 26%) 8px 8px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 30%) 0 1px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 30%) 8px 9px;
     background-color:#282828;
     background-size:16px 16px;
}
 #wrapper{
     width:300px;
     background-color: gray;
     border:1px solid lightgray;
     margin:0 auto;
    /* shadow */
     -webkit-box-shadow: 10px 10px 4px -1px rgba(60,60,60,1);
     -moz-box-shadow: 10px 10px 4px -1px rgba(60,60,60,1);
     box-shadow: 10px 10px 4px -1px rgba(60,55,55,1);
     padding: 0px 10px 10px 10px;
}
 h3{
     font-size: 26px;
     font-family: 'Amatic SC', cursive;
     text-shadow: 2px 3px 3px #292929;
     letter-spacing: 7px;
     -webkit-text-stroke: 1px white;
     text-shadow: 0px 2px 3px #555;
}
 img {
     width: 300px;
     height: 200px;
     border:1px solid lightgray;
    /* optional image filters */
     filter: sepia(100%);
     -webkit-filter: sepia(1);
     -ms-filter: sepia(100%);
}
 p{
     margin-top: 0px;
}
 .info{
     padding: 12px;
     border:1px solid lightgray;
     margin-top:10px;
}
 ul li{
     list-style-type: none;
     margin-left:-40px;
}
 ul>li>span{
     font-weight: 500;
}
